[Unit]
Description=Listonosz simple node express + client service
After=network.target

[Service]
User=criamon
WorkingDirectory=/home/criamon/share/listonosz
Restart=always
RestartSec=10
ExecStart=/usr/bin/npm start 
StandardOutput=syslog
StandardError=syslog
[Install]
WantedBy=default.target